.navbar-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.logo {
    max-width: 25%;
}

.topNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-items a {
    text-decoration: none;
    color: var(--secondary);
}
#faq{
    text-align: center;
}
